# created while building
/babao
build/
dist/
temp/

# sphinx doc
docs/

# pytest
.cache
.pytest_cache

# coveralls
.coverage

# pyre
.pyre/

# mypy
.mypy_cache/

# python gifts
*.egg-info/
*.egg
.eggs
*.py[cod]
__pycache__/
*.so
*~

# don't tell emacs please
.idea